@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 0 0.5rem 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.firsth1{
    font-size: 3.5rem;
    line-height: 6rem;
    padding: 1rem;
    border-bottom: 2px solid #333;
    margin-bottom: 2rem;
    background-color: antiquewhite;
}

 .firsth1{
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 0.9;
    }
}
  

.nav1 {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
    
}

ul {
    list-style: none;
}

li{
    border-top: 1px solid #333;
}

li a {
    display: block;
}

li a,
li a:visited{
    text-decoration: none;
    color: #333;
}

li a:visited{
    opacity: 0.8;
}

li a:hover,
   a:focus{
    background-color: #333;
    color: whitesmoke;
    cursor: pointer;
   }

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}